*{
    margin:0;
    padding: 0;
    border: 0;
}


body{
    background-color:black;
    color: goldenrod;
    text-align: center;
}

h1, h2, h3{
    font-family: 'Milonga', cursive;
    margin-top: 1em;
}

p{
    font-family: 'Open Sans', sans-serif;
    margin-top: 2em;
}

button{
    background-color: goldenrod;
    color: black;
    padding: 1em;
    border-radius: .3em;
    font-family: 'Milonga', cursive;
    margin-top: 3em;
}